@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 100%;
  }
  #menu {
    padding-top: 5px;
    padding: 0px;
    transition: all 0.8s;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 100%;
  }

  #portfolio {
    width: 110%;
  }
}
